<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add user</title>
</head>
<body>
    <form action="" method="post">
        Add your name!
        <input type="text" name="name" value="" />
        <input type="submit" />
    </form>
</body>
</html>