@model FilmSelector.Models.User
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>I want to watch</title>
</head>
<body>
    <h1>My Films</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var film in Model.Films)
                {
            <tr>
                <td><a href="/@Model.UserId/program/onefilm/@film.Film.Id">@film.Film.Title</a></td>
                <td><a href="/user/@Model.UserId/watched/@film.Film.Id?type=film" role="button">Watched</a></td>
            </tr>
                }
            }
        </tbody>
    </table>
    <h1>My Series</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var series in Model.Series)
                {
            <tr>
                <td><a href="/@Model.UserId/program/oneseries/@series.Series.Id">@series.Series.Title</a></td>
                <td><a href="/user/@Model.UserId/watched/@series.Series.Id">Watched</a></td>
            </tr>
                }
            }
        </tbody>
    </table>
    <a href="/@Model.UserId/program">All Films</a>
</body>
</html>