<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <form action="/home/question" method="post">
        Question:
        <input type="text" name="question" value="" />
        <br />
        Answer1
        <input type="text" name="answer1" value="" />
        <input type="radio" name="correct" value="0" />
        <br />
        Answer2
        <input type="text" name="answer2" value="" />
        <input type="radio" name="correct" value="1" />
        <br />
        Answer3
        <input type="text" name="answer3" value="" />
        <input type="radio" name="correct" value="2" />
        <br />
        Answer4
        <input type="text" name="answer4" value="" />
        <input type="radio" name="correct" value="3" />
        <br />
        <button type="submit">Submit</button>
    </form>
</body>
</html>