<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <h1>The Quiz Game</h1>
    <a href="/home/question">Add a question</a>
    <a href="/home/quiz">Start a quiz</a>
</body>
</html>