/*
first box
height: 785px
width: 625px
color: #127731

1. top
height: 45px
width: 625px
color: #FFE42E
border: 15px
border color: #FF1200
padding-top: 13px
padding-bottom: 15px

2. left
height: 435px
width: 315px
color: #FFE42E
border (top,bottom): 15px
border (left,right): 15px
border color: #FF1200
padding: 0px

3. right
height: 435px
width: 315px
color: #FFE42E
border: 15px
border color: #FF1200
padding: 0px

4. bottom
height: 185px
width: 620px
color: #FFE42E
border: 15px
border color: #FF1200
padding-top: 17px
padding-bottom: 78px

blackbox left:
height: 47px
width: 145ps
border: 3px
padding-top: 145px
padding-bottom: 25px

blackbox right:
heigth: 47px
width: 145px
border: 3px
padding-top: 145px
padding-bottom: 25px

blackbox bottom:
height: 155px
width: 290px
border: 3px
padding-bottom: 35px
*/

#main {
    height: 1000px;
    width: 630px;
    background-color: #DCD6CD;
    color: #4A4261;
   

}

#main > div {
    box-sizing: border-box;
    background-color: #DCD6CD;
    border: 15px solid #DCD6CD;
}

#top {
    height: 45px;
    width: 630px;
}

#l, #r {
    vertical-align: middle;
    display: inline-block;
    height: 435px;
    width: 313px;
    margin: 0px;
}

#l > h2, #r > h2 {
color: white;
background-color: #938C97;
border-radius: 3px;
}

#bottom {
    height: 185px;
    width: 630px;
}

#b1, #b2 {
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    width: 133px;

}

#b3 {
    height: 155px;
    width: 280px;	
}

#top > h2 {
    margin: 0;
}

#checkbox {
    column-count: 2;
    border-radius: 3px;
}
input, textarea {
    border-radius: 3px;
}