<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new program</title>
</head>
<body>
    <h1>Add new program</h1>
    <form action="add" method="post">
        I create a film
        <input type="radio" name="type" value="film" /> <br />
        I create a series
        <input type="radio" name="type" value="series" /> <br />
        <input type="text" name="title" value="" /> <br />
        <input type="number" name="imdb" value="" /> <br />
        <input type="text" name="link" value="" /> <br />
        <input type="submit" />
    </form>
</body>
</html>