@model FilmSelector.ViewModels.ProgramViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
    <h1>All Films</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var film in Model.ListOfFilms)
                {
                    <tr>
                        <td><a href="/@Model.UserId/program/onefilm/@film.Id">@film.Title</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <h1>All Series</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var series in Model.ListOfSeries)
                {
                    <tr>
                        <td><a href="/@Model.UserId/program/oneseries/@series.Id">@series.Title</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a href="/user/@Model.UserId/mylist">My List</a>
</body>
</html>