@model FilmSelector.Models.Film
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Film</title>
</head>
<body>
    <h1>@Model.Title</h1>
    <p>@Model.IMdB</p>
    <p>@Model.Link</p>
    <p>Users</p>
    @{ 
        foreach(var user in Model.Users)
        {
            <p>@user.User.Name</p>
        }
    }
</body>
</html>
