@model FilmSelector.ViewModels.SeriesViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Series</title>
</head>
<body>
    <h1>@Model.Series.Title</h1>
    <a href="@Model.Series.Link">IMDb link</a>
    <p>Want to watch:</p>
    @{
        foreach (var user in Model.Series.Users)
        {
            <a href="/user/@Model.MyId/otheruserlist/@user.User.UserId">@user.User.Name</a>
        }
    }
</body>
</html>