<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add</title>
</head>
<body>
    <h1>Add new todo</h1>
    <form action="Add" method="post">
        Exercise:
        <input type="text" name="title" value="">
        <input type="submit" value="Add">
    </form>
</body>
</html>
