@model System.Collections.Generic.List<ListingTodos.Models.User>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Add</title>
    </head>
    <body>
        <h1>Add new todo</h1>
        <form action="Add" method="post" id="addnewtodo">
            Exercise:
            <input type="text" name="title" value="">
            <p>Select User</p>
            <select name="username" id="username">
                @{foreach (var user in Model)
                    {
                        <option value="@user.Name">@user.Name</option>
                    }
                 }
            </select>
            <input type="submit" value="Add">
        </form>
    </body>
</html>
