<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add User</title>
</head>
<body>
    <h1>Add new User</h1>
    <form action="AddUser" method="post">
        Exercise:
        <input type="text" name="name" value="">
        <input type="submit" value="AddUser">
    </form>
</body>
</html>
