@model System.Collections.Generic.List<ListingTodos.Models.ToDo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDo CRUD App</title>
</head>
<body>
    <h1>Todos for today</h1>
    <nav>
        <a href="add">Add new todo</a> |
    </nav>
    <table style="width:100%, auto;">
        <tr>
            <th style="border: 2px solid black;">ID</th>
            <th style="border: 2px solid black;">Action</th>
            <th style="border: 2px solid black;">Done</th>
            <th style="border: 2px solid black;">Urgent</th>
        </tr>
        @{
            foreach (var todo in Model)
            {
        <tr>
            <td style="border: 1px solid black;">@todo.Id</td>
            <td style="border: 1px solid black;"><a href="/@todo.Id">@todo.Title</a></td>
            <td style="border: 1px solid black;">@todo.IsDone</td>
            <td style="border: 1px solid black;">@todo.IsUrgent</td>
            <td style="border: 1px solid black;"><a href="/delete/@todo.Id">Delete</a></td>
            <td style="border: 1px solid black;"><a href="edit/@todo.Id">Edit</a></td>
        </tr>
            }
        }
    </table>
</body>
</html>
