@model FoxClub.Models.User
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FoxClub</title>
    <link rel="stylesheet" type="text/css" href="~/Index.css">
</head>
<body>
    <ul>
        <li><a href="">Information</a></li>
    </ul>
    <img src="./Images/greenfox.png" alt="Green Fox">
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
    <h1>Known tricks</h1>
    <ul>
        <li>write HTML</li>
        <li>code in C#</li>
    </ul>
</body>
</html>