@model FoxClub.Models.User
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="name" value="Esztee" />
        <button type="submit">Login</button>
    </form>
</body>
</html>
