<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add User</title>
</head>
<body>
    <nav>
        <a href="/todo/list">ToDos</a> |
        <a href="/todo/add">Add new ToDo</a> |
        <a href="/user/list">Users</a> |
    </nav>
    <h1>Add new User</h1>
    <form action="Add" method="post">
        Name:
        <input type="text" name="name" value=""></br>
        Email:
        <input type="text" name="email" value=""></br>
        Phone Number:
        <input type="number" name="phoneNumber" value=""></br>
        <input type="submit" value="AddUser">
    </form>
</body>
</html>