<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Index.css">
</head>
<body>
    <h1>WELCOME</h1>
    <h2>The Bank Of The Lions</h2>
</body>
</html>
