@model ToDoApp.Models.ToDoList
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table style="width:100%, auto;" align="center">
        <tr>
            <th>Index</th>
            <th>Complete</th>
            <th>Exercise</th>
            <th>Urgent</th>
        </tr>
        @{
            @foreach (var todo in Model.ListOfToDos)
            {
                <tr>
                    <td>@todo.Key</td>
                    <td>@todo.Value.Complete</td>
                    <td>@todo.Value.Exercise</td>
                    <td>@todo.Value.Urgent</td>
                </tr>
            }
        }
    </table>

    <h2>The exercise is complete</h2>
    <form action="Complete" method="post">
        <p>Index</p>
        <input type="number" name="index" value="">
        <br />
        <input type="submit" value="Submit">
    </form>

    <h2>I want to add a new exercise</h2>
    <form action="Add" method="post">
        Exercise:
        <input type="text" name="Exercise" value="">
        <br />
        Urgent:
        <input type="text" name="Urgent" value="">
        <br />
        <input type="submit" value="Submit">
    </form>

    <h2>I don't want to do this exercise</h2>
    <form action="Delete" method="post">
        <p>Index</p>
        <input type="number" name="index" value="">
        <br />
        <input type="submit" value="Submit">
    </form>

</body>
</html>