@model Counter.Models.CounterModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Counter</title>
</head>
<body>
    <p>The number is:</p>
    <form action="/" ; method="post">
        <p>@Model.Number</p>
        <input type="submit" value="Add Ten">
    </form>
</body>
</html>