<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create new post</title>
</head>
<body>
    <h1>Create new post</h1>
    <form action="Add" method="post">
        Post:
        <input type="text" name="content" value="">
        <input type="submit" value="Add">
    </form>
</body>
</html>
