<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Anagramm Checker</title>
</head>
<body>
    <form action="/" method="post">
        Word1:
        <input type="text" name="Word1" value="">
        <br />
        Word2:
        <input type="text" name="Word2" value="">
        <br />
        <input type="submit" value="Submit">
    </form>
</body>
</html>