@model Anagramm.Models.Anagrammas
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Result</title>
</head>
<body>
    <p>The @Model.Word1 and @Model.Word2 are anagramms: @Model.AnagrammaChecker() </p>
</body>
</html>